<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dublin Cake</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="site">
        <div class="ui massive menu">
            <div class="ui container">
                <div class="item"><a href="/">Home</a></div>
            </div>
        </div>
        <br>
        <br>
        <h1 class="h1">Welcome to Dublin Cake</h1>
        <br>
        <div class="ui container">
            <form id="form" action="/add" class="ui form" method="POST">
                <div class="three fields">
                    <div class="field">
                        <label for="label" class="ui header green">Enter cake name</label>
                        <input type="text" name="cakeName" value=""  id="cakeName">
                    </div>
                    <div class="field">
                        <label for="label" class="ui header green">Enter cake flavor</label>
                        <input type="text" name="cakeFlavor" value="" id="cakeFlavor">
                    </div>
                    <div class="field">
                        <label for="label" class="ui header green">Enter cake topping</label>
                        <input type="text" name="cakeTopping" value="" id="cakeTopping">
                    </div>
                    <div class="field">
                        <label for="label" class="ui header green">Enter cake filling</label>
                        <input type="text" name="cakeFilling" value="" id="cakeFilling">
                    </div>
                    <div class="field">
                        <label for="label" class="ui header green">Enter cake Price</label>
                        <input type="number" name="cakePrice" value="" id="cakePrice">
                    </div>
                </div>
                <!-- <div class=" one fields"> -->
                    <div class="field fluid">
                        <button type="submit" class="ui button fluid green">Save</button>
                    </div>
                <!-- </div> -->
            </form>
            <br>
            <br>
            <br>
            
            <table class="ui table green" >
                <thead>
                    <tr>
                        <th>Cake Name</th>
                        <th>Cake Flavor</th>
                        <th>Cake Topping</th>
                        <th>Cake Filling</th>
                        <th>Cake Price</th>
                        <th>Action</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% teams.forEach((team)=>{%>
                        <tr>
                            <td id="name"><%- team.cakeName %></td>
                            <td id="flavor"><%- team.cakeFlavor %></td>
                            <td id="topping"><%- team.cakeTopping %></td>
                            <td id="filling"><%- team.cakeFilling %></td>
                            <td id="price"><%- team.cakePrice %></td>
                            <td><a class="ui button green editBtn" href="/edit/<%= team._id %>"><i class="edit white icon"></i></a></td>
                            <td><a class="ui button green actnBtn" href="/<%= team._id %>"><i id="delete" class="minus red icon"></i></a></td>
                        </tr>
                      <% }); %>
                </tbody>            
            </table>
        </div>
    </div>
</body>

</html>